# ========================================================================

.git
.gitignore
.venv
.venv-airflow
.mlflow_temp
mlflow.db*
mlartifacts
mlruns_local
mlartifacts_local
mlruns_airflow
mlartifacts_airflow
airflow/logs
airflow_runtime
airflow/airflow.cfg
airflow/airflow.db*
airflow/*.pid
jenkins/jenkins_home
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.out
*.err
jenkins_artifacts

